.App {
  max-width: 1200px;
  min-width: 800px;
  padding: 20px;
}

.list {
  border: 2px solid rgb(227, 227, 11);
  width: 250px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
}

.detail {
  border: 1px solid gainsboro;
  width: 600px;
  height: 400px;
  background-color: bisque;
  margin: 10% auto 0 auto;
  padding: 50px
}